@import "../../../styles/const.scss";

.reservation {
  height: 100%;
  width: calc(100% - 20px * 2);
  max-width: 1024px;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid $text;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 768px) {
    width: calc(100% - 10px * 2);
    margin: 10px;
    padding: 10px;
    flex-direction: column-reverse;
    align-items: center;
    border: none;
    gap: 10px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 160px;
    width: 240px;
    @media screen and (max-width: 768px) {
      min-width: 130px;
      margin: 0 5px;
    }

    &-p {
      color: rgb(110, 20, 20);
      font-size: 14px;
    }
   
    &__info {
      display: flex;
      flex-direction: column;
      color: $text;
      margin-top: 10px;
      &-paragraph {
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
}
