@import "../../../styles/const.scss";

.reservation {
  height: 100%;
  width: calc(100% - 20px * 2);
  max-width: 1024px;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid $text;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  &__form {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 160px;
    width: 240px;
    &-input {
      margin: 10px 0;
      width: 100%;
      border: 1px solid $text;
      border-radius: 25px;
      padding: 15px;
      background: none;
      color: $text;
      &:focus {
        border: 1px solid $color;
        outline: none;
      }
      &::placeholder {
        color: $text;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
    &__date {
      &-input {
        position: relative;
        text-align: center;
        // &:nth-child(2) {
        //     margin: 0 5px;
        // }
        &::-webkit-calendar-picker-indicator {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: auto;
          height: auto;
          background: transparent;
        }
        &::-webkit-inner-spin-button,
        &::-webkit-clear-button {
          // z-index: -10;
        }
        &::-webkit-input-placeholder {
          // z-index: 99;
        }
        &:placeholder {
          // z-index: 99;
        }
        &:not(.has-value):before {
          content: attr(placeholder);
          width: 100%;
        }
      }
    }
    &__slots {
      margin-top: 10px;
      color: $text;
      p {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }

      .time-select {
        width: 100%;
        padding: 12px;
        border-radius: 25px;
        border: 1px solid $text;
        background-color: transparent;
        color: $text;
        font-size: 1rem;
        cursor: pointer;

        &:focus {
          outline: none;
          border-color: $color;
        }

        & option {
          background-color: $bg;
          color: $text;
        }

        & option:disabled {
          color: #b0b0b0;
        }
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      color: $text;
      margin-top: 10px;
      &-paragraph {
        // padding: 0 5px;
        margin-bottom: 20px;
      }
    }
  }
}
