@import "./styles/const.scss";
* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}
a {
  all: unset; /* Все стили элемента сбрасываются в ноль. */
}
.App {
  background-color: #040d15;
}
.input {
  margin: 10px 0;
  width: 100%;
  border: 1px solid $text;
  border-radius: 25px;
  padding: 15px;
  background: none;
  color: $text;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    padding: 5px;
    font-size: 12px;
    margin: 5px 0;
  }
  &:focus {
    border: 1px solid $color;
    outline: none;
  }
  &::placeholder {
    color: $text;
    text-align: center;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
